#G-midOne {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 100%;
  padding: 60px 20px 60px 20px;
  background-image: url('../images/G-midOne/paperBg.jpg');

  #midOneTitle {
    width: 85%;
    height: 200px;
    font-size: 17px;
    font-weight: 700;
    align-self: center;
    text-align: justify;
    line-height: 45px;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/G-midOne/midOneTitleBg.png');

    @include breakPoints(small) {
      font-size: 14px;
    }

    @media (min-width: 300px) and (max-width: 767px) {
      height: unset;
    }
  }

  #midOneWheelsHolder {
    display: flex;
    flex-direction: row;
    width: 100%;

    @media (min-width: 300px) and (max-width: 1023px) {
      flex-direction: column;
      row-gap: 100px;
    }

    #midOneWheelOne {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      width: 25%;

      @media (min-width: 300px) and (max-width: 1023px) {
        width: 100%;
      }

      #pic {
        display: flex;
        flex-direction: row;

        @include breakPoints(small) {
          transform: scale(80%);
        }

        @include breakPoints(mobile) {
          transform: scale(85%);
        }

        &:hover {
          cursor: pointer;

          #bgOne {
            filter: brightness(70%);
            transform: rotateZ(20deg);
          }

          #two {
            padding: 22px 27px;

            @media (min-width: 300px) and (max-width: 767px) {
              padding: 25px 30px;
            }
          }
        }

        #bgOne {
          background-image: url('../images/G-midOne/bgOne.jpg');
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-position: 12% 12%;

          @include breakPoints(laptop) {
            width: 220px;
            height: 220px;
          }
        }

        #two {
          position: absolute;
          padding: 25px 30px;
          background-color: #4d8b55;
          border-radius: 50%;
          color: #f4f4f4;
          font-size: 20px;
          font-weight: 700;
        }
      }

      #three {
        margin-top: 20px;
        color: #000000;
        font-size: 25px;
        font-weight: 700;
      }

      #four {
        width: 85%;
        margin-top: 15px;
        text-align: center;

        @include breakPoints(small) {
          font-size: 13px;
        }

        @media (min-width: 512px) and (max-width: 613px) {
          width: 70%;
        }

        @media (min-width: 613px) and (max-width: 738px) {
          width: 60%;
        }

        @media (min-width: 738px) and (max-width: 948px) {
          width: 50%;
        }

        @media (min-width: 948px) and (max-width: 1023px) {
          width: 35%;
        }

        @include breakPoints(laptop) {
          font-size: 13px;
        }
      }
    }

    #midOneWheelTwo {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      width: 25%;

      @media (min-width: 300px) and (max-width: 1023px) {
        width: 100%;
      }

      #pic {
        display: flex;
        flex-direction: row;

        @include breakPoints(small) {
          transform: scale(80%);
        }

        @include breakPoints(mobile) {
          transform: scale(85%);
        }

        &:hover {
          cursor: pointer;

          #bgTwo {
            filter: brightness(70%);
            transform: rotateZ(20deg);
          }

          #two {
            padding: 22px 27px;

            @media (min-width: 300px) and (max-width: 767px) {
              padding: 25px 30px;
            }
          }
        }

        #bgTwo {
          background-image: url('../images/G-midOne/bgTwo.jpg');
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-position: 12% 12%;

          @include breakPoints(laptop) {
            width: 220px;
            height: 220px;
          }
        }

        #two {
          position: absolute;
          padding: 25px 30px;
          background-color: #4d8b55;
          border-radius: 50%;
          color: #f4f4f4;
          font-size: 20px;
          font-weight: 700;
        }
      }

      #three {
        margin-top: 20px;
        color: #000000;
        font-size: 25px;
        font-weight: 700;
      }

      #four {
        width: 85%;
        margin-top: 15px;
        text-align: center;

        @include breakPoints(small) {
          font-size: 13px;
        }

        @media (min-width: 512px) and (max-width: 613px) {
          width: 70%;
        }

        @media (min-width: 613px) and (max-width: 738px) {
          width: 60%;
        }

        @media (min-width: 738px) and (max-width: 948px) {
          width: 50%;
        }

        @media (min-width: 948px) and (max-width: 1023px) {
          width: 35%;
        }

        @include breakPoints(laptop) {
          font-size: 13px;
        }
      }
    }

    #midOneWheelThree {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      width: 25%;

      @media (min-width: 300px) and (max-width: 1023px) {
        width: 100%;
      }

      #pic {
        display: flex;
        flex-direction: row;

        @include breakPoints(small) {
          transform: scale(80%);
        }

        @include breakPoints(mobile) {
          transform: scale(85%);
        }

        &:hover {
          cursor: pointer;

          #bgThree {
            filter: brightness(70%);
            transform: rotateZ(20deg);
          }

          #two {
            padding: 22px 27px;

            @media (min-width: 300px) and (max-width: 767px) {
              padding: 25px 30px;
            }
          }
        }

        #bgThree {
          background-image: url('../images/G-midOne/bgThree.jpg');
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-position: 12% 12%;

          @include breakPoints(laptop) {
            width: 220px;
            height: 220px;
          }
        }

        #two {
          position: absolute;
          padding: 25px 30px;
          background-color: #4d8b55;
          border-radius: 50%;
          color: #f4f4f4;
          font-size: 20px;
          font-weight: 700;
        }
      }

      #three {
        margin-top: 20px;
        color: #000000;
        font-size: 25px;
        font-weight: 700;
      }

      #four {
        width: 85%;
        margin-top: 15px;
        text-align: center;

        @include breakPoints(small) {
          font-size: 13px;
        }

        @media (min-width: 512px) and (max-width: 613px) {
          width: 70%;
        }

        @media (min-width: 613px) and (max-width: 738px) {
          width: 60%;
        }

        @media (min-width: 738px) and (max-width: 948px) {
          width: 50%;
        }

        @media (min-width: 948px) and (max-width: 1023px) {
          width: 35%;
        }

        @include breakPoints(laptop) {
          font-size: 13px;
        }
      }
    }

    #midOneWheelFour {
      display: flex;
      flex-direction: column;
      height: fit-content;
      align-items: center;
      width: 25%;

      @media (min-width: 300px) and (max-width: 1023px) {
        width: 100%;
      }

      #pic {
        display: flex;
        flex-direction: row;

        @include breakPoints(small) {
          transform: scale(80%);
        }

        @include breakPoints(mobile) {
          transform: scale(85%);
        }

        &:hover {
          cursor: pointer;

          #bgFour {
            filter: brightness(70%);
            transform: rotateZ(20deg);
          }

          #two {
            padding: 22px 27px;

            @media (min-width: 300px) and (max-width: 767px) {
              padding: 25px 30px;
            }
          }
        }

        #bgFour {
          background-image: url('../images/G-midOne/bgFour.jpg');
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-position: 12% 12%;

          @include breakPoints(laptop) {
            width: 220px;
            height: 220px;
          }
        }

        #two {
          position: absolute;
          padding: 25px 30px;
          background-color: #4d8b55;
          border-radius: 50%;
          color: #f4f4f4;
          font-size: 20px;
          font-weight: 700;
        }
      }

      #three {
        margin-top: 20px;
        color: #000000;
        font-size: 25px;
        font-weight: 700;
      }

      #four {
        width: 85%;
        margin-top: 15px;
        text-align: center;

        @include breakPoints(small) {
          font-size: 13px;
        }

        @media (min-width: 512px) and (max-width: 613px) {
          width: 70%;
        }

        @media (min-width: 613px) and (max-width: 738px) {
          width: 60%;
        }

        @media (min-width: 738px) and (max-width: 948px) {
          width: 50%;
        }

        @media (min-width: 948px) and (max-width: 1023px) {
          width: 35%;
        }

        @include breakPoints(laptop) {
          font-size: 13px;
        }
      }
    }
  }
}
