#H-midTwo {
  display: flex;
  width: 100%;

  #midTwoBackgrounds {
    display: flex;
    flex-direction: row;
    width: 100%;

    #bgOne {
      width: 33%;
      position: relative;
      background-image: url('../images/H-midTwo/bgOne.jpg');
      background-position: 40% 0;
      background-size: cover;

      @media (min-width: 300px) and (max-width: 1023px) {
        display: none;
      }

      #stamp {
        width: 160px;
        height: 160px;
        position: absolute;
        top: 30px;
        right: 100px;
        background-image: url('../images/H-midTwo/stamp.png');
        background-repeat: no-repeat;
      }
    }

    #bgTwo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 50px;
      width: 34%;
      height: 650px;
      padding-left: 20px;
      background-color: #4d8b55;
      background-position: 40% 0;
      background-size: cover;
      background-image: url('../images/H-midTwo/bgTwo.png');

      @include breakPoints(small) {
        height: 500px;
      }

      @include breakPoints(mobile) {
        height: 490px;
      }

      @include breakPoints(tablet) {
        height: 505px;
      }

      @media (min-width: 300px) and (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: unset;
      }

      #one {
        width: min(100% - 48px, 335px);
        font-size: 48px;
        color: #000000;
        font-weight: 700;

        span {
          width: min(100% - 48px, 335px);
          font-size: 48px;
          color: #ffffff;
          font-weight: 700;
          align-self: center;
        }
      }

      #two {
        width: min(100% - 48px, 370px);
        color: #ffffff;
        font-size: 16px;
        text-align: start;
      }

      #read {
        width: 225px;
        height: 45px;
        border: none;
        border-radius: 40px;
        background-color: rgb(60, 60, 60);
        font-size: 13px;
        color: #f4f4f4;

        &:hover {
          cursor: pointer;
          background-color: #141414;
        }
      }
    }

    #bgThree {
      width: 33%;
      background-color: #4d8b55;
      background-position: 40% 0;
      background-size: cover;
      background-image: url('../images/H-midTwo/bgThree.jpg');

      @include breakPoints(small) {
        display: none;
      }

      @include breakPoints(mobile) {
        display: none;
      }

      @include breakPoints(tablet) {
        display: none;
      }
    }
  }
}
