#I-midThree {
  display: flex;
  flex-direction: row;
  width: 100%;

  #midThreeAllInOne {
    display: flex;
    flex-direction: row;
    width: inherit;

    @media (min-width: 300px) and (max-width: 767px) {
      flex-direction: column;
    }

    #midThreeLeft {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 30%;
      padding-left: 20px;
      background-color: #ffffff;

      @media (min-width: 300px) and (max-width: 767px) {
        width: 100%;
        row-gap: 80px;
        padding: 100px 0 20px 30px;
        background-image: url('../images/I-midThree/midThreeLeftAndRightBg.png');
        background-size: cover;
      }

      @include breakPoints(tablet) {
        row-gap: 50px;
        width: 50%;
        padding: 80px 0 80px 30px;
      }

      #illuOne {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/pure.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }

      #illuTwo {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/assortment.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }

      #illuThree {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/roasting.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    #midThreeMid {
      width: 40%;
      height: 720px;
      background-image: url('../images/I-midThree/coffee.jpg');
      background-size: contain;
      background-repeat: no-repeat;
      background-color: #ffffff;
      background-position-y: 50%;

      @media (min-width: 300px) and (max-width: 1023px) {
        display: none;
      }
    }

    #midThreeRight {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 30%;
      padding-right: 20px;
      background-color: #ffffff;

      @media (min-width: 300px) and (max-width: 767px) {
        width: 100%;
        row-gap: 80px;
        padding: 80px 30px 100px 0;
        background-image: url('../images/I-midThree/midThreeLeftAndRightBg.png');
        background-size: cover;
      }

      @include breakPoints(tablet) {
        row-gap: 50px;
        width: 50%;
        padding: 80px 30px 80px 0;
      }

      #illuOne {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/quality.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          align-items: end;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }

      #illuTwo {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/grinding.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          align-items: end;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }

      #illuThree {
        display: flex;
        flex-direction: row-reverse;
        column-gap: 20px;

        #pic {
          width: 197.3px;
          height: 52px;
          background-image: url('../images/I-midThree/aroma.svg');
          background-repeat: no-repeat;
          align-self: center;
        }

        #info {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          align-items: end;

          #one {
            font-size: 18px;
            font-weight: 700;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 17px;
            }
          }

          #two {
            width: min(100% - 48px, 224px);
            text-align: justify;

            @media (min-width: 1023px) and (max-width: 1123px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
