#J-midFour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  width: inherit;
  height: 608px;
  position: relative;
  align-items: center;

  @media (min-width: 300px) and (max-width: 349px) {
    height: 448px;
  }

  #midFourBg {
    width: 100%;
    height: inherit;
    position: absolute;
    background-image: url('../images/J-midFour/midFourBg.jpg');
    filter: brightness(35%);
    opacity: 0.5;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;

    @include breakPoints(small) {
      background-position-x: 50%;
    }

    @media (min-width: 399px) and (max-width: 1023px) {
      background-position-x: 30%;
    }
  }

  #one {
    width: min(100% - 120px, 720px);
    font-size: 60px;
    color: #4d8b55;
    font-weight: 700;
    text-align: center;
    line-height: 95px;

    @media (min-width: 300px) and (max-width: 492px) {
      width: 100%;
    }

    @media (min-width: 300px) and (max-width: 349px) {
      font-size: 46px;
      line-height: 70px;
    }
  }

  #play {
    width: 250px;
    height: 60px;
    position: relative;
    border: none;
    border-radius: 40px;
    background-color: #1d1d1d;
    font-size: 13px;
    color: #cacaca;

    &:hover {
      cursor: pointer;
      background-color: #4b4b4b;
    }
  }
}
