#L-bottomTwo {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-top: 50px;
  background-color: #ffffff;

  #bottomTwoBg {
    background-image: url('../images/L-bottomTwo/bottomTwoBg.png');
    width: inherit;
    height: 800px;
    position: absolute;
    background-size: contain;

    @include breakPoints(small) {
      width: inherit;
      height: 4480px;
      background-repeat: unset;
    }

    @include breakPoints(mobile) {
      width: inherit;
      height: 3920px;
      background-repeat: unset;
    }
  }

  #bottomTwoTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 30px;
    width: inherit;
    align-items: center;

    #one {
      font-size: 21px;
      font-weight: 700;
      color: #4d8b55;
    }

    #two {
      font-size: 45px;
      font-weight: 700;
      color: #000000;
      text-align: center;

      @media (min-width: 300px) and (max-width: 448px) {
        width: 90%;
      }
    }

    #three {
      width: min(100% - 64px, 800px);
      color: #000000;
      text-align: center;

      @media (min-width: 300px) and (max-width: 419px) {
        font-size: 15px;
      }
    }
  }

  #bottomTwoMidSec {
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: center;
    column-gap: 20px;
    margin-top: -64px;

    @media (min-width: 300px) and (max-width: 1023px) {
      flex-direction: column;
      margin-top: 18px;
    }

    @include breakPoints(laptop) {
      margin-top: -18px;
    }

    #left {
      background-image: url('../images/L-bottomTwo/bottomTwoMidSecEthio.jpg');
      width: 768px;
      height: 768px;
      background-repeat: no-repeat;
      background-size: contain;
      transform: scale(75%);

      @media (min-width: 300px) and (max-width: 399px) {
        margin-top: -160px;
        transform: scale(38%);
      }

      @media (min-width: 399px) and (max-width: 549px) {
        margin-top: -95px;
        transform: scale(50%);
      }

      @media (min-width: 549px) and (max-width: 1023px) {
        margin-top: -64px;
        transform: scale(62%);
      }

      @media (min-width: 1023px) and (max-width: 1059px) {
        margin-left: -30px;
      }

      @include breakPoints(laptop) {
        transform: scale(80%);
      }
    }

    #right {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 70%;
      column-gap: 40px;

      @media (min-width: 300px) and (max-width: 1023px) {
        width: fit-content;
      }

      @media (min-width: 300px) and (max-width: 449px) {
        margin-top: -80px;
      }

      @media (min-width: 449px) and (max-width: 599px) {
        margin-top: -55px;
      }

      @media (min-width: 599px) and (max-width: 767px) {
        margin-top: -30px;
      }

      #allInOne {
        display: flex;
        flex-direction: column;
        row-gap: 35px;

        @media (min-width: 300px) and (max-width: 1023px) {
          align-items: center;
        }

        #stars {
          display: flex;
          flex-direction: row;
          column-gap: 10px;
          width: fit-content;

          #one,
          #two,
          #three,
          #four,
          #five {
            background-image: url('../images/L-bottomTwo/star.svg');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
          }
        }

        #desc {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          row-gap: 20px;
          width: 80%;
          text-align: justify;

          #one {
            font-size: 27px;
            font-weight: 700;
          }
        }

        #overview {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: 80px;
          row-gap: 50px;

          @media (min-width: 300px) and (max-width: 1023px) {
            flex-direction: column;
            row-gap: 45px;
            align-items: center;
          }

          #grading {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: fit-content;
            align-items: start;

            @media (min-width: 300px) and (max-width: 1023px) {
              padding-inline: 40px;
            }

            #first,
            #sec,
            #third,
            #fourth {
              display: flex;
              flex-direction: row;
              justify-content: space-evenly;
              align-items: center;
              column-gap: 15px;

              #check {
                background-image: url('../images/L-bottomTwo/check.svg');
                width: 15px;
                height: 15px;
              }
            }
          }

          #overviewPrice {
            display: flex;
            flex-direction: row;
            align-items: end;

            @media (min-width: 300px) and (max-width: 1023px) {
              align-items: unset;
            }

            #one {
              font-size: 22px;
              font-weight: 700;
              color: #808080;
              text-decoration-line: line-through;
            }

            #two {
              font-size: 22px;
              font-weight: 700;
              color: #ff0000;
            }
          }

          #overviewButtons {
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            row-gap: 20px;

            @media (min-width: 300px) and (max-width: 767px) {
              flex-direction: column;
              align-items: start;
            }

            #add,
            #info {
              width: 228px;
              height: 46px;
              border: none;
              border-radius: 40px;
              font-size: 13px;
              z-index: 1;

              @include breakPoints(small) {
                width: 182px;
              }

              @include breakPoints(mobile) {
                width: 195px;
              }
            }

            #add {
              background-color: #7bff8d;
              color: #1d1d1d;

              &:hover {
                cursor: pointer;
                background-color: #6ddf7c;
              }
            }

            #info {
              background-color: #3c3c3c;
              color: #f4f4f4;

              &:hover {
                cursor: pointer;
                background-color: #141414;
              }
            }
          }
        }
      }
    }
  }

  #bottomTwoBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -80px;

    @media (min-width: 300px) and (max-width: 767px) {
      margin-top: 48px;
      flex-direction: column;
      align-content: center;
    }

    @include breakPoints(tablet) {
      margin-top: unset;
      align-items: baseline;
    }

    @media (min-width: 2199px) {
      margin-top: -64px;
    }

    #first {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      position: relative;
      height: fit-content;
      transform: scale(80%);
      align-items: center;

      @include breakPoints(tablet) {
        transform: scale(70%);
      }

      #all {
        width: fit-content;
        height: fit-content;

        @include breakPoints(small) {
          height: 465px;
        }

        #pic {
          display: flex;
          background-image: url('../images/L-bottomTwo/peru.jpg');
          width: 335px;
          height: 465px;
          background-size: cover;
          border-radius: 10px;
          align-items: center;
        }

        #cart {
          opacity: 0;
          width: 155px;
          height: 55px;
          position: absolute;
          bottom: 50%;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          border-radius: 28px;
          border-style: none;
          background-color: #7bff8d;
          font-size: 14px;

          @media (min-width: 300px) and (max-width: 767px) {
            display: none;
          }

          @include breakPoints(tablet) {
            font-size: 15px;
          }

          &:hover {
            background-color: #6ddf7c;
          }
        }

        &:hover {
          cursor: pointer;

          @media (min-width: 300px) and (max-width: 767px) {
            cursor: default;
          }
        }

        &:hover #pic {
          opacity: 0.5;

          @media (min-width: 300px) and (max-width: 767px) {
            opacity: 1;
          }
        }

        &:hover #cart {
          opacity: 1;
          cursor: pointer;
        }
      }

      #stars {
        display: flex;
        flex-direction: row;
        width: fit-content;

        #one,
        #two,
        #three,
        #four,
        #five {
          background-image: url('../images/L-bottomTwo/star.svg');
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;

          @media (min-width: 1099px) {
            width: 24px;
            height: 24px;
          }
        }
      }

      #type {
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #priceOne {
        color: #4d8b55;
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #cartOne {
        display: none;
        width: 155px;
        height: 55px;
        border-radius: 28px;
        border-style: none;
        background-color: #7bff8d;
        font-size: 14px;

        @include breakPoints(small) {
          display: inline-block !important;
        }

        @include breakPoints(mobile) {
          display: inline-block !important;
        }

        &:hover {
          cursor: pointer;
          background-color: #6ddf7c;
        }
      }
    }

    #sec {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      position: relative;
      height: fit-content;
      transform: scale(80%);
      align-items: center;

      @include breakPoints(tablet) {
        transform: scale(70%);
      }

      #all {
        width: fit-content;
        height: fit-content;

        @include breakPoints(small) {
          height: 465px;
        }

        #pic {
          display: flex;
          background-image: url('../images/L-bottomTwo/ethio.jpg');
          width: 335px;
          height: 465px;
          background-size: cover;
          border-radius: 10px;
          align-items: center;
        }

        #cart {
          opacity: 0;
          width: 155px;
          height: 55px;
          position: absolute;
          bottom: 50%;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          border-radius: 28px;
          border-style: none;
          background-color: #7bff8d;
          font-size: 14px;

          @media (min-width: 300px) and (max-width: 767px) {
            display: none;
          }

          @include breakPoints(tablet) {
            font-size: 15px;
          }

          &:hover {
            background-color: #6ddf7c;
          }
        }

        &:hover {
          cursor: pointer;

          @media (min-width: 300px) and (max-width: 767px) {
            cursor: default;
          }
        }

        &:hover #pic {
          opacity: 0.5;

          @media (min-width: 300px) and (max-width: 767px) {
            opacity: 1;
          }
        }

        &:hover #cart {
          opacity: 1;
          cursor: pointer;
        }
      }

      #stars {
        display: flex;
        flex-direction: row;
        width: fit-content;

        #one,
        #two,
        #three,
        #four,
        #five {
          background-image: url('../images/L-bottomTwo/star.svg');
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;

          @media (min-width: 1099px) {
            width: 24px;
            height: 24px;
          }
        }
      }

      #type {
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #priceTwo {
        color: #4d8b55;
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #cartTwo {
        display: none;
        width: 155px;
        height: 55px;
        border-radius: 28px;
        border-style: none;
        background-color: #7bff8d;
        font-size: 14px;

        @include breakPoints(small) {
          display: inline-block !important;
        }

        @include breakPoints(mobile) {
          display: inline-block !important;
        }

        &:hover {
          cursor: pointer;
          background-color: #6ddf7c;
        }
      }
    }

    #third {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      position: relative;
      height: fit-content;
      transform: scale(80%);
      align-items: center;

      @include breakPoints(tablet) {
        transform: scale(70%);
      }

      #all {
        width: fit-content;
        height: fit-content;

        @include breakPoints(small) {
          height: 465px;
        }

        #pic {
          display: flex;
          background-image: url('../images/L-bottomTwo/columb.jpg');
          width: 335px;
          height: 465px;
          background-size: cover;
          border-radius: 10px;
          align-items: center;
        }

        #cart {
          opacity: 0;
          width: 155px;
          height: 55px;
          position: absolute;
          bottom: 50%;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          border-radius: 28px;
          border-style: none;
          background-color: #7bff8d;
          font-size: 14px;

          @media (min-width: 300px) and (max-width: 767px) {
            display: none;
          }

          @include breakPoints(tablet) {
            font-size: 15px;
          }

          &:hover {
            background-color: #6ddf7c;
          }
        }

        &:hover {
          cursor: pointer;

          @media (min-width: 300px) and (max-width: 767px) {
            cursor: default;
          }
        }

        &:hover #pic {
          opacity: 0.5;

          @media (min-width: 300px) and (max-width: 767px) {
            opacity: 1;
          }
        }

        &:hover #cart {
          opacity: 1;
          cursor: pointer;
        }
      }

      #stars {
        display: flex;
        flex-direction: row;
        width: fit-content;

        #one,
        #two,
        #three,
        #four,
        #five {
          background-image: url('../images/L-bottomTwo/star.svg');
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;

          @media (min-width: 1099px) {
            width: 24px;
            height: 24px;
          }
        }
      }

      #type {
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #priceThree {
        color: #4d8b55;
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #cartThree {
        display: none;
        width: 155px;
        height: 55px;
        border-radius: 28px;
        border-style: none;
        background-color: #7bff8d;
        font-size: 14px;

        @include breakPoints(small) {
          display: inline-block !important;
        }

        @include breakPoints(mobile) {
          display: inline-block !important;
        }

        &:hover {
          cursor: pointer;
          background-color: #6ddf7c;
        }
      }
    }

    #fourth {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      position: relative;
      height: fit-content;
      transform: scale(80%);
      align-items: center;

      @include breakPoints(tablet) {
        transform: scale(70%);
      }

      #all {
        width: fit-content;
        height: fit-content;

        @include breakPoints(small) {
          height: 465px;
        }

        #pic {
          display: flex;
          background-image: url('../images/L-bottomTwo/nica.jpg');
          width: 335px;
          height: 465px;
          background-size: cover;
          border-radius: 10px;
          align-items: center;
        }

        #cart {
          opacity: 0;
          width: 155px;
          height: 55px;
          position: absolute;
          bottom: 50%;
          left: 50%;
          right: 50%;
          transform: translate(-50%, -50%);
          border-radius: 28px;
          border-style: none;
          background-color: #7bff8d;
          font-size: 14px;

          @media (min-width: 300px) and (max-width: 767px) {
            display: none;
          }

          @include breakPoints(tablet) {
            font-size: 15px;
          }

          &:hover {
            background-color: #6ddf7c;
          }
        }

        &:hover {
          cursor: pointer;

          @media (min-width: 300px) and (max-width: 767px) {
            cursor: default;
          }
        }

        &:hover #pic {
          opacity: 0.5;

          @media (min-width: 300px) and (max-width: 767px) {
            opacity: 1;
          }
        }

        &:hover #cart {
          opacity: 1;
          cursor: pointer;
        }
      }

      #stars {
        display: flex;
        flex-direction: row;
        width: fit-content;

        #one,
        #two,
        #three,
        #four,
        #five {
          background-image: url('../images/L-bottomTwo/star.svg');
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;

          @media (min-width: 1099px) {
            width: 24px;
            height: 24px;
          }
        }
      }

      #type {
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #priceFour {
        color: #4d8b55;
        font-size: 19px;
        font-weight: 700;

        @media (min-width: 1100px) {
          font-size: 22px;
        }
      }

      #cartFour {
        display: none;
        width: 155px;
        height: 55px;
        border-radius: 28px;
        border-style: none;
        background-color: #7bff8d;
        font-size: 14px;

        @include breakPoints(small) {
          display: inline-block !important;
        }

        @include breakPoints(mobile) {
          display: inline-block !important;
        }

        &:hover {
          cursor: pointer;
          background-color: #6ddf7c;
        }
      }
    }
  }
}
