#M-bottomThree {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: fit-content;
  padding: 50px 0 50px 0;

  #bottomThreeBg {
    background-image: url('../images/M-bottomThree/bottomThreeBg.jpg');
    width: inherit;
    height: 326px;
    position: absolute;
    z-index: -1;
    filter: brightness(90%);
    opacity: 0.5;

    @include breakPoints(small) {
      height: 943px;
    }

    @media (min-width: 300px) and (max-width: 331px) {
      height: 1013px;
    }

    @include breakPoints(mobile) {
      height: 903px;
    }

    @include breakPoints(tablet) {
      height: 592px;
    }
  }

  #allInOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 2%;

    @media (min-width: 300px) and (max-width: 767px) {
      flex-direction: column;
      row-gap: 100px;
      align-items: center;
      justify-content: space-evenly;
    }

    @include breakPoints(tablet) {
      row-gap: 100px;
      column-gap: 20px;
    }

    #left {
      display: flex;
      flex-direction: column;
      width: 33%;
      row-gap: 30px;

      @media (min-width: 300px) and (max-width: 767px) {
        width: min(100% - 20%, 80%);
      }

      @include breakPoints(tablet) {
        width: min(100% - 52%, 48%);
      }

      #pic {
        background-image: url('../images/M-bottomThree/logo.png');
        width: 100px;
        height: 94px;
      }

      #leftOne {
        width: 85%;
        color: #cacaca;
        text-align: justify;

        @media (min-width: 300px) and (max-width: 767px) {
          font-size: 15px;
        }

        @media (min-width: 767px) and (max-width: 1266px) {
          font-size: 13px;
        }
      }

      #icons {
        display: flex;
        flex-direction: row;
        column-gap: 15px;

        #instagram {
          background-image: url('/images/M-bottomThree/instagram.svg');
          width: 22px;
          height: 22px;
          cursor: pointer;
        }

        #x {
          background-image: url('/images/M-bottomThree/x.svg');
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        #telegram {
          background-image: url('/images/M-bottomThree/telegram.svg');
          width: 21px;
          height: 21px;
          cursor: pointer;
        }

        #youtube {
          background-image: url('/images/M-bottomThree/youtube.svg');
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }

    #mid {
      display: flex;
      flex-direction: column;
      width: 33%;
      row-gap: 20px;

      @media (min-width: 300px) and (max-width: 767px) {
        width: min(100% - 20%, 80%);
      }

      @include breakPoints(tablet) {
        width: min(100% - 52%, 48%);
      }

      #title {
        width: min(100% - 10%, 90%);
        font-size: 31px;
        font-weight: 700;
        color: #4d8b55;
        border-bottom: 2px solid #4d8b55;

        @media (min-width: 300px) and (max-width: 549px) {
          width: 90%;
        }
      }

      #location {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;

        #pic {
          background-image: url('../images/M-bottomThree/location.svg');
          width: 27px;
          height: 27px;
        }

        #midOne {
          width: 90%;
          color: #cacaca;

          @media (min-width: 300px) and (max-width: 767px) {
            font-size: 15px;
          }

          @media (min-width: 767px) and (max-width: 1266px) {
            font-size: 13px;
            width: 100%;
          }

          span {
            color: #4d8b55;
            font-weight: 700;
          }
        }
      }

      #phone {
        display: flex;
        flex-direction: row;
        align-items: center;

        #pic {
          background-image: url('../images/M-bottomThree/call.svg');
          width: 27px;
          height: 27px;
        }

        #midTwo {
          width: 90%;
          color: #cacaca;

          @media (min-width: 300px) and (max-width: 767px) {
            font-size: 15px;
          }

          @media (min-width: 767px) and (max-width: 1266px) {
            font-size: 13px;
          }

          span {
            color: #4d8b55;
            font-weight: 700;
          }
        }
      }
    }

    #right {
      display: flex;
      flex-direction: column;
      width: 34%;
      row-gap: 30px;

      @media (min-width: 300px) and (max-width: 549px) {
        width: 80%;
      }

      @media (min-width: 549px) and (max-width: 767px) {
        width: 70%;
      }

      @media (min-width: 767px) and (max-width: 829px) {
        width: 65%;
      }

      @media (min-width: 829px) and (max-width: 949px) {
        width: 60%;
      }

      @media (min-width: 949px) and (max-width: 1023px) {
        width: 55%;
      }

      #title {
        width: min(100% - 10%, 90%);
        font-size: 31px;
        font-weight: 700;
        color: #4d8b55;
        border-bottom: 2px solid #4d8b55;
      }

      #email {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        align-items: center;

        input {
          width: 65%;
          height: 50px;
          padding: 15px;
          border: none;
          border-radius: 25px;
          outline: none;

          @media (min-width: 300px) and (max-width: 379px) {
            width: 88%;
            height: 45px;
            font-size: 10px;
          }

          @media (min-width: 379px) and (max-width: 1266px) {
            width: 71%;
            height: 45px;
            font-size: 11px;
          }
        }

        #subscribe {
          width: 35%;
          height: 50px;
          position: relative;
          right: 65px;
          border: none;
          border-radius: 40px;
          background-color: #4d8b55;
          font-size: 13px;
          color: #efefef;

          @media (min-width: 300px) and (max-width: 379px) {
            width: 48%;
            height: 45px;
            right: 37px;
            font-size: 10px;
          }

          @media (min-width: 379px) and (max-width: 1266px) {
            width: 33%;
            height: 45px;
            font-size: 12px;
          }

          &:hover {
            cursor: pointer;
            background-color: #1d3520;
          }
        }
      }

      #agreement {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 10px;

        input {
          width: 18px;
          height: 18px;

          @include breakPoints(small) {
            width: 16px;
            height: 16px;
          }

          @include breakPoints(mobile) {
            width: 17px;
            height: 17px;
          }
        }

        #rightOne {
          color: #cacaca;
          font-size: 14px;

          @media (min-width: 300px) and (max-width: 767px) {
            font-size: 12px;
          }

          @media (min-width: 767px) and (max-width: 1266px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
