#midONE {
  display: flex;
  flex-direction: column;
  width: inherit;
  position: relative;
  background-image: url('../images/paperBG.jpg');
  width: inherit;
  height: auto;

  @include breakPoints(tablet) {
    flex-direction: column;
  }

  #one {
    width: min(100% - 4em, 50em);
    height: 17em;
    margin-top: 5.5em;
    font-size: 17px;
    font-weight: 700;
    background-image: url('../images/leafsANDBEANS.png');
    background-repeat: no-repeat;
    align-self: center;
    text-align: justify;
    line-height: 2em;
    background-position-x: 50%;

    @include breakPoints(small) {
      height: 22em;
      font-size: 14px;
    }
  }

  #allinone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -6em;
    margin-bottom: 4em;

    @include breakPoints(small) {
      margin-top: -10em;
      flex-direction: column;
    }

    @include breakPoints(mobile) {
      margin-top: -8em;
      flex-direction: column;
    }

    @include breakPoints(tablet) {
      margin-top: -8em;
      flex-direction: row;
    }

    @media (min-width: 399px) and (max-width: 410px) {
      margin-top: -8em;
    }

    #FIRST {
      display: flex;
      flex-direction: row;

      @include breakPoints(small) {
        flex-direction: column;
      }

      @include breakPoints(mobile) {
        flex-direction: column;
      }

      @include breakPoints(tablet) {
        flex-direction: column;
      }

      #wheelONE {
        display: flex;
        flex-direction: column;
        margin: 4em 0 4em 0;
        position: relative;
        align-items: center;

        @include breakPoints(small) {
          margin-top: 6em;
        }

        @include breakPoints(mobile) {
          margin-top: 6em;
        }

        #pic {
          display: flex;
          flex-direction: row;

          @include breakPoints(small) {
            transform: scale(80%);
          }

          @include breakPoints(mobile) {
            transform: scale(85%);
          }

          &:hover {
            cursor: pointer;

            #AG {
              filter: brightness(70%);
              transform: rotateZ(20deg);

              @media (min-width: 310px) and (max-width: 767px) {
                filter: brightness(100%);
                transform: none;
                cursor: default;
              }
            }

            #two {
              padding: 22px 27px;

              @media (min-width: 310px) and (max-width: 767px) {
                padding: 25px 30px;
                cursor: default;
              }
            }
          }

          #AG {
            background-image: url('../images/coffeeONE.jpg');
            width: 17em;
            height: 17em;
            border-radius: 50%;
            transition: all 0.5s ease;
            background-position: 12% 12%;

            @include breakPoints(laptop) {
              width: 14em;
              height: 14em;
            }
          }

          #two {
            position: absolute;
            padding: 25px 30px;
            background-color: rgb(77, 139, 85);
            border-radius: 50%;
            color: rgb(244, 244, 244);
            font-size: 20px;
            font-weight: 700;
            transition: all 0.5s ease;
          }
        }

        #three {
          margin-top: 1em;
          color: rgb(0, 0, 0);
          font-size: 25px;
          font-weight: 700;
        }

        #four {
          width: min(100% - 0em, 20em);
          margin-top: 1.5em;
          text-align: center;

          @include breakPoints(small) {
            font-size: 13px;
          }

          @include breakPoints(laptop) {
            font-size: 13px;
            width: min(100% - 0em, 17em);
          }
        }
      }

      #wheelTWO {
        display: flex;
        flex-direction: column;
        margin: 4em 0 4em 0;
        position: relative;
        align-items: center;

        @include breakPoints(small) {
          margin-top: 3em;
        }

        @include breakPoints(mobile) {
          margin-top: 3em;
        }

        #pic {
          display: flex;
          flex-direction: row;

          @include breakPoints(small) {
            transform: scale(80%);
          }

          @include breakPoints(mobile) {
            transform: scale(85%);
          }

          &:hover {
            cursor: pointer;

            #AG {
              filter: brightness(70%);
              transform: rotateZ(20deg);

              @media (min-width: 310px) and (max-width: 767px) {
                filter: brightness(100%);
                transform: none;
                cursor: default;
              }
            }

            #two {
              padding: 22px 27px;

              @media (min-width: 310px) and (max-width: 767px) {
                padding: 25px 30px;
                cursor: default;
              }
            }
          }

          #AG {
            background-image: url('../images/coffeeTWO.jpg');
            width: 17em;
            height: 17em;
            border-radius: 50%;
            transition: all 0.5s ease;

            @include breakPoints(laptop) {
              width: 14em;
              height: 14em;
            }
          }

          #two {
            position: absolute;
            padding: 25px 30px;
            background-color: rgb(77, 139, 85);
            border-radius: 50%;
            color: rgb(244, 244, 244);
            font-size: 20px;
            font-weight: 700;
            transition: all 0.5s ease;
          }
        }

        #three {
          margin-top: 1em;
          color: rgb(0, 0, 0);
          font-size: 25px;
          font-weight: 700;
        }

        #four {
          width: min(100% - 0em, 20em);
          margin-top: 1.5em;
          text-align: center;

          @include breakPoints(small) {
            font-size: 13px;
          }

          @include breakPoints(laptop) {
            font-size: 13px;
            width: min(100% - 0em, 17em);
          }
        }
      }
    }

    #SECOND {
      display: flex;
      flex-direction: row;

      @include breakPoints(small) {
        flex-direction: column;
      }

      @include breakPoints(mobile) {
        flex-direction: column;
      }

      @include breakPoints(tablet) {
        flex-direction: column;
      }

      #wheelTHREE {
        display: flex;
        flex-direction: column;
        margin: 4em 0 4em 0;
        position: relative;
        align-items: center;

        @include breakPoints(small) {
          margin-top: 3em;
        }

        @include breakPoints(mobile) {
          margin-top: 3em;
        }

        #pic {
          display: flex;
          flex-direction: row;

          @include breakPoints(small) {
            transform: scale(80%);
          }

          @include breakPoints(mobile) {
            transform: scale(85%);
          }

          &:hover {
            cursor: pointer;

            #AG {
              filter: brightness(70%);
              transform: rotateZ(20deg);

              @media (min-width: 310px) and (max-width: 767px) {
                filter: brightness(100%);
                transform: none;
                cursor: default;
              }
            }

            #two {
              padding: 22px 27px;

              @media (min-width: 310px) and (max-width: 767px) {
                padding: 25px 30px;
                cursor: default;
              }
            }
          }

          #AG {
            background-image: url('../images/coffeeTHREE.jpg');
            width: 17em;
            height: 17em;
            border-radius: 50%;
            transition: all 0.5s ease;

            @include breakPoints(laptop) {
              width: 14em;
              height: 14em;
            }
          }

          #two {
            position: absolute;
            padding: 25px 30px;
            background-color: rgb(77, 139, 85);
            border-radius: 50%;
            color: rgb(244, 244, 244);
            font-size: 20px;
            font-weight: 700;
            transition: all 0.5s ease;
          }
        }

        #three {
          margin-top: 1em;
          color: rgb(0, 0, 0);
          font-size: 25px;
          font-weight: 700;
        }

        #four {
          width: min(100% - 0em, 20em);
          margin-top: 1.5em;
          text-align: center;

          @include breakPoints(small) {
            font-size: 13px;
          }

          @include breakPoints(laptop) {
            font-size: 13px;
            width: min(100% - 0em, 17em);
          }
        }
      }

      #wheelFOUR {
        display: flex;
        flex-direction: column;
        margin: 4em 0 4em 0;
        position: relative;
        align-items: center;

        @include breakPoints(small) {
          margin-top: 3em;
        }

        @include breakPoints(mobile) {
          margin-top: 3em;
        }

        #pic {
          display: flex;
          flex-direction: row;

          @include breakPoints(small) {
            transform: scale(80%);
          }

          @include breakPoints(mobile) {
            transform: scale(85%);
          }

          &:hover {
            cursor: pointer;

            #AG {
              filter: brightness(70%);
              transform: rotateZ(20deg);

              @media (min-width: 310px) and (max-width: 767px) {
                filter: brightness(100%);
                transform: none;
                cursor: default;
              }
            }

            #two {
              padding: 22px 27px;

              @media (min-width: 310px) and (max-width: 767px) {
                padding: 25px 30px;
                cursor: default;
              }
            }
          }

          #AG {
            background-image: url('../images/coffeeFOUR.jpg');
            width: 17em;
            height: 17em;
            border-radius: 50%;
            transition: all 0.5s ease;

            @include breakPoints(laptop) {
              width: 14em;
              height: 14em;
            }
          }

          #two {
            position: absolute;
            padding: 25px 30px;
            background-color: rgb(77, 139, 85);
            border-radius: 50%;
            color: rgb(244, 244, 244);
            font-size: 20px;
            font-weight: 700;
            transition: all 0.5s ease;
          }
        }

        #three {
          margin-top: 1em;
          color: rgb(0, 0, 0);
          font-size: 25px;
          font-weight: 700;
        }

        #four {
          width: min(100% - 0em, 20em);
          margin-top: 1.5em;
          text-align: center;

          @include breakPoints(small) {
            font-size: 13px;
          }

          @include breakPoints(laptop) {
            font-size: 13px;
            width: min(100% - 0em, 17em);
          }
        }
      }
    }
  }
}
