#MOB {
  display: none;
  width: 18rem;
  height: 100%;
  position: fixed;
  background-color: rgb(63, 113, 70);
  z-index: 1;

  @include breakPoints(tablet) {
    width: 21rem;
  }

  @include breakPoints(laptop) {
    display: none;
  }

  #navMOB {
    width: 17.5em;
    background-color: rgb(77, 139, 85);
    box-shadow: 1em 0em 2em #356144;

    @include breakPoints(tablet) {
      width: 20.5em;
    }

    #account {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: fit-content;
      margin: 2.5em 0 0 1.7em;

      @include breakPoints(tablet) {
        display: none;
      }

      @include breakPoints(laptop) {
        display: none;
      }

      #iconsTWO {
        display: flex;
        flex-direction: row;
        padding-left: 0.7em;

        #user {
          background-image: url('/images/mobile/user.svg');
          width: 30px;
          height: 30px;
          margin-right: 3.2em;

          &:hover {
            cursor: pointer;
          }
        }

        #bag {
          background-image: url('/images/mobile/bag.svg');
          width: 30px;
          height: 30px;
          margin-right: 3.2em;

          &:hover {
            cursor: pointer;
          }
        }

        #search {
          background-image: url('/images/mobile/search.svg');
          width: 30px;
          height: 30px;
          margin-right: 3.2em;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 2.5em 0 0 2.5em;
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 17px;

      @include breakPoints(tablet) {
        margin: 5em 0 0 3.5em;
      }

      @include breakPoints(laptop) {
        display: none;
      }

      #homeONE {
        width: fit-content;
        color: rgb(123, 255, 141);

        &:hover {
          cursor: pointer;
        }
      }

      li {
        width: fit-content;
        margin-top: 2.5em;
        color: rgb(244, 244, 244);

        &:hover {
          cursor: pointer;
        }
      }
    }

    #follow {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: 3.5em 0 0 1.5em;

      @include breakPoints(tablet) {
        margin-left: 2.5em;
        display: none;
      }

      @include breakPoints(laptop) {
        display: none;
      }

      p {
        color: rgb(244, 244, 244);
        font-size: 14px;
      }

      #iconsONE {
        display: flex;
        flex-direction: row;
        margin-top: 2em;

        #insta {
          background-image: url('/images/mobile/instagram.svg');
          width: 20px;
          height: 20px;
          margin-right: 2em;

          &:hover {
            cursor: pointer;
          }
        }

        #x {
          background-image: url('/images/mobile/x.svg');
          width: 22px;
          height: 22px;
          margin-right: 1.9em;

          &:hover {
            cursor: pointer;
          }
        }

        #telegram {
          background-image: url('/images/mobile/telegram.svg');
          width: 19px;
          height: 19px;
          margin-right: 2.2em;

          &:hover {
            cursor: pointer;
          }
        }

        #youtube {
          background-image: url('/images/mobile/youtube.svg');
          width: 20px;
          height: 20px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    #closeONE {
      width: 17.5em;
      height: 3.5em;
      margin: 5em 0 5em 0;
      position: relative;
      left: 1.2em;
      transition: all 0.5s ease;
      border: none;
      border-radius: 40px;
      background-color: rgb(123, 255, 141);
      font-size: 13px;
      color: #1d1d1d;

      &:hover {
        cursor: pointer;
        background-color: rgb(109, 223, 124);
      }

      @include breakPoints(tablet) {
        margin-top: 8em;
        left: 3.2em;
      }

      @include breakPoints(laptop) {
        margin-top: 25em;
      }
    }
  }
}
