#topONE {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: relative;
  width: 100%;
  height: 800px;

  @include breakPoints(small) {
    height: 600px;
  }

  @include breakPoints(mobile) {
    height: 650px;
  }

  @media (min-width: 499px) and (max-width: 767px) {
    height: 580px;
  }

  @include breakPoints(tablet) {
    height: 680px;
  }

  @include breakPoints(laptop) {
    height: 780px;
  }

  #bgONE {
    position: absolute;
    background-image: url('../images/topCOFFE.jpg');
    width: inherit;
    height: inherit;
    filter: brightness(27%);
    opacity: 0.5;
    z-index: -1;
  }

  #header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 35px;

    @include breakPoints(small) {
      margin-top: 0;
    }

    @include breakPoints(mobile) {
      margin-top: 0;
    }

    #left {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      width: fit-content;
      align-items: center;

      @include breakPoints(small) {
        display: none;
      }

      @include breakPoints(mobile) {
        display: none;
      }

      p {
        color: #f4f4f4;
        font-size: 14px;
      }

      #iconsONE {
        display: flex;
        flex-direction: row;
        column-gap: 20px;

        #insta {
          background-image: url('/images/instagram.svg');
          width: 22px;
          height: 22px;
          cursor: pointer;
        }

        #x {
          background-image: url('/images/x.svg');
          width: 24px;
          height: 24px;
          cursor: pointer;
        }

        #telegram {
          background-image: url('/images/telegram.svg');
          width: 21px;
          height: 21px;
          cursor: pointer;
        }

        #youtube {
          background-image: url('/images/youtube.svg');
          width: 22px;
          height: 22px;
          cursor: pointer;
        }
      }
    }

    #mid {
      display: flex;
      flex-direction: column;
      row-gap: 25px;
      width: fit-content;
      align-items: center;

      @include breakPoints(small) {
        margin-top: 20px;
      }

      @include breakPoints(mobile) {
        margin-top: 20px;
      }

      #logo {
        background-image: url('../images/logo.png');
        width: 100px;
        height: 94px;
        cursor: pointer;
      }

      ul {
        display: flex;
        flex-direction: row;
        column-gap: 25px;
        list-style: none;
        text-transform: capitalize;
        font-size: 17px;

        @include breakPoints(small) {
          display: none;
        }

        @include breakPoints(mobile) {
          display: none;
        }

        @include breakPoints(tablet) {
          display: none;
        }

        #homeONE {
          width: fit-content;
          color: #7bff8d;
          cursor: pointer;
        }

        li {
          width: fit-content;
          color: #f4f4f4;
          cursor: pointer;
        }
      }
    }

    #right {
      display: flex;
      flex-direction: row;
      width: fit-content;
      align-items: center;

      @include breakPoints(small) {
        display: none;
      }

      @include breakPoints(mobile) {
        display: none;
      }

      #iconsTWO {
        display: flex;
        flex-direction: row;
        column-gap: 40px;

        #user {
          background-image: url('/images/user.svg');
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        #bag {
          background-image: url('/images/bag.svg');
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        #search {
          background-image: url('/images/search.svg');
          width: 30px;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }

  #title {
    display: flex;
    flex-direction: column;
    align-items: center;

    #one {
      font-size: 75px;
      font-weight: 700;
      color: rgb(77, 139, 85);

      @include breakPoints(small) {
        font-size: 53px;
      }

      @include breakPoints(mobile) {
        font-size: 55px;
      }
    }

    #two {
      width: fit-content;
      text-align: center;
      font-size: 75px;
      font-weight: 700;
      color: #f4f4f4;

      @include breakPoints(small) {
        font-size: 53px;
      }

      @include breakPoints(mobile) {
        font-size: 55px;
      }

      @media (min-width: 419px) and (max-width: 499px) {
        width: min-content;
      }
    }

    #three {
      width: 40em;
      font-size: 16px;
      color: rgb(244, 244, 244);
      text-align: justify;

      @include breakPoints(small) {
        width: 80%;
        margin-top: 20px;
        font-size: 13px;
      }

      @include breakPoints(mobile) {
        width: 80%;
        margin-top: 20px;
        font-size: 13px;
      }

      @media (min-width: 650px) and (max-width: 767px) {
        width: 70%;
      }

      @media (min-width: 707px) and (max-width: 767px) {
        font-size: 14px;
      }

      @include breakPoints(tablet) {
        text-align: center;
      }
    }
  }
}
