#topTWO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: relative;
  align-items: center;

  #bgONE {
    background-image: url('../images/leafPATTERNS.png');
    width: 100%;
    height: 295px;
    background-color: rgb(77, 139, 85);

    @include breakPoints(small) {
      height: 185px;
    }

    @include breakPoints(mobile) {
      height: 200px;
    }

    @media (min-width: 499px) and (max-width: 767px) {
      height: 230px;
    }

    @include breakPoints(tablet) {
      height: 250px;
    }

    @include breakPoints(laptop) {
      height: 265px;
    }
  }

  #bgTWO {
    background-image: url('../images/topBEANS.png');
    position: absolute;
    width: 774px;
    height: 609px;
    top: -250px;
    transform: scale(70%);
    background-repeat: no-repeat;

    @include breakPoints(small) {
      top: -250px;
      transform: scale(36%);
    }

    @include breakPoints(mobile) {
      top: -250px;
      transform: scale(40%);
    }

    @media (min-width: 499px) and (max-width: 767px) {
      top: -250px;
      transform: scale(48%);
    }

    @include breakPoints(tablet) {
      top: -250px;
      transform: scale(55%);
    }

    @include breakPoints(laptop) {
      top: -250px;
      transform: scale(60%);
    }
  }
}
