#topTHREE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: inherit;
  height: auto;
  background-color: rgb(255, 255, 255);

  @include breakPoints(small) {
    display: flex;
    flex-direction: column;
  }

  @include breakPoints(mobile) {
    display: flex;
    flex-direction: column;
  }

  @include breakPoints(tablet) {
    display: flex;
    flex-direction: column;
  }

  #left {
    margin-top: 4em;

    #texts {
      display: flex;
      flex-direction: column;
      margin-left: 2em;

      @include breakPoints(small) {
        margin-left: 0;
      }

      @include breakPoints(mobile) {
        margin-left: 0;
      }

      @include breakPoints(tablet) {
        margin-left: 0;
        align-items: center;
      }

      #one {
        font-size: 40px;
        font-weight: 700;
        color: rgb(77, 139, 85);

        @include breakPoints(small) {
          font-size: 22px;
          text-align: center;
          margin-left: 0;
        }

        @include breakPoints(mobile) {
          font-size: 32px;
          text-align: center;
          margin-left: 0;
        }

        @include breakPoints(laptop) {
          font-size: 33px;
        }
      }

      #two {
        font-size: 40px;
        font-weight: 700;
        color: rgb(0, 0, 0);

        @include breakPoints(small) {
          font-size: 22px;
          text-align: center;
          margin-left: 0;
        }

        @include breakPoints(mobile) {
          font-size: 32px;
          text-align: center;
          margin-left: 0;
        }

        @include breakPoints(laptop) {
          font-size: 33px;
          margin-left: 0;
        }
      }

      #three {
        width: min(100% - 4em, 40em);
        margin-top: 2em;
        font-size: 20px;
        color: rgb(0, 0, 0);
        text-align: justify;

        @include breakPoints(small) {
          font-size: 13px;
          align-self: center;
        }

        @include breakPoints(mobile) {
          width: min(100% - 4em, 30em);
          font-size: 14px;
          align-self: center;
        }

        @include breakPoints(tablet) {
          font-size: 15px;
        }

        @include breakPoints(laptop) {
          font-size: 15px;
        }

        @include breakPoints(large) {
          font-size: 16px;
        }
      }
    }

    #contact {
      margin: 3em 0 0 2em;

      @include breakPoints(small) {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
      }

      @include breakPoints(mobile) {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        justify-content: center;
      }

      @include breakPoints(tablet) {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      p {
        font-size: 17px;
        font-weight: 700;

        @include breakPoints(small) {
          margin-right: 1em;
          font-size: 14px;
        }

        @include breakPoints(mobile) {
          font-size: 15px;
        }

        @include breakPoints(tablet) {
          font-size: 16px;
        }

        @include breakPoints(laptop) {
          font-size: 16px;
        }
      }

      #download {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 1em;

        @include breakPoints(small) {
          margin-left: 0;
        }

        @include breakPoints(mobile) {
          margin: 0 1em 0 0;
        }

        @include breakPoints(tablet) {
          margin: 0 2em 0 0;
        }

        &:hover {
          cursor: pointer;
        }

        #pic {
          background-image: url('../images/download.svg');
          width: 21px;
          height: 21px;
          margin-right: 1em;
        }
      }

      #call {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0 0 1em;

        @include breakPoints(small) {
          margin: 1.4em 0 0 0;
        }

        @include breakPoints(mobile) {
          margin-top: 0;
        }

        @include breakPoints(tablet) {
          margin-top: 0;
        }

        &:hover {
          cursor: pointer;
        }

        #pic {
          background-image: url('../images/call.svg');
          width: 21px;
          height: 21px;
          margin-right: 0.7em;
        }
      }
    }

    #buttons {
      display: flex;
      flex-direction: row;
      margin: 3em 0 0 1em;

      @include breakPoints(small) {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
      }

      @include breakPoints(mobile) {
        justify-content: space-evenly;
        margin-left: 0;
      }

      @include breakPoints(tablet) {
        justify-content: space-evenly;
        margin-left: 0;
      }

      #read {
        width: 17.5em;
        height: 3.5em;
        margin-left: 1em;
        transition: all 0.5s ease;
        border: none;
        border-radius: 40px;
        background-color: rgb(123, 255, 141);
        font-size: 13px;
        color: #1d1d1d;

        &:hover {
          cursor: pointer;
          background-color: rgb(109, 223, 124);
        }

        @include breakPoints(small) {
          width: 14em;
          margin-left: 0;
        }

        @include breakPoints(mobile) {
          width: 15em;
        }
      }

      #shop {
        width: 17.5em;
        height: 3.5em;
        margin-left: 3em;
        transition: all 0.5s ease;
        position: relative;
        border: none;
        border-radius: 40px;
        background-color: rgb(60, 60, 60);
        font-size: 13px;
        color: rgb(244, 244, 244);

        &:hover {
          cursor: pointer;
          background-color: rgb(20, 20, 20);
        }

        @include breakPoints(small) {
          width: 14em;
          margin: 2em 0 0 0;
        }

        @include breakPoints(mobile) {
          width: 15em;
          margin-right: 1em;
        }
      }
    }
  }

  #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include breakPoints(tablet) {
      margin-top: 3em;
    }

    // @include breakPoints(laptop) {
    //   width: 49%;
    // }

    #pic {
      background-image: url('../images/pouringBEANS.jpg');
      width: 22em;
      height: 22em;
      // transform: scale(70%);
      background-repeat: no-repeat;
      background-size: contain;

      // @include breakPoints(small) {
      //   height: 38.2em;
      //   transform: scale(42%);
      // }

      @media (min-width: 399px) and (max-width: 767px) and (orientation: landscape) {
        width: 20em;
        height: 20em;
        margin: 8em 0 3em 0;
      }

      // @include breakPoints(mobile) {
      //   height: 38.2em;
      //   transform: scale(50%);
      // }

      // @include breakPoints(laptop) {
      //   height: 38.2em;
      //   transform: scale(60%);
      // }

      #one {
        position: absolute;
        left: -1.5em;
        top: -1.5em;
        width: min-content;
        color: black;
        font-weight: 700;
        // font-size: 40px;
        // padding: 40px 50px 40px 45px;
        padding: 30px 40px 30px 35px;
        border-radius: 50%;
        box-shadow: 0em 0em 0.5em #969696;
        text-align: center;

        // @include breakPoints(small) {
        //   font-size: 40px;
        // }

        @media (min-width: 399px) and (max-width: 767px) and (orientation: landscape) {
          left: 8.5em;
          top: 4.5em;
          // padding: 30px 40px 30px 35px;
          font-size: 19px;
        }

        // @include breakPoints(mobile) {
        //   font-size: 45px;
        // }

        span {
          color: rgb(77, 139, 85);
          // font-size: 38px;
          font-weight: 700;
          text-align: start;

          // @include breakPoints(small) {
          //   font-size: 45px;
          // }

          @media (min-width: 399px) and (max-width: 767px) and (orientation: landscape) {
            font-size: 25px;
          }

          // @include breakPoints(mobile) {
          //   font-size: 50px;
          // }
        }
      }
    }
  }
}
