#topTWO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  position: relative;

  #bgONE {
    background-image: url('../images/leafPATTERNS.png');
    width: 100%;
    height: 45dvh;
    background-color: rgb(77, 139, 85);

    @include breakPoints(small) {
      height: 28dvh;
    }

    @include breakPoints(mobile) {
      height: 28dvh;
    }

    @media (min-width: 499px) and (max-width: 767px) {
      height: 35dvh;
    }

    @include breakPoints(tablet) {
      height: 38dvh;
    }

    @include breakPoints(laptop) {
      height: 42dvh;
    }
  }

  #bgTWO {
    background-image: url('../images/topBEANS.png');
    position: absolute;
    width: 51.6em;
    height: 40em;
    top: -16em;
    transform: scale(70%);
    background-repeat: no-repeat;

    @include breakPoints(small) {
      top: -16em;
      transform: scale(36%);
    }

    @include breakPoints(mobile) {
      top: -16em;
      transform: scale(40%);
    }

    @media (min-width: 499px) and (max-width: 767px) {
      top: -16em;
      transform: scale(48%);
    }

    @include breakPoints(tablet) {
      top: -16em;
      transform: scale(55%);
    }

    @include breakPoints(laptop) {
      top: -16em;
      transform: scale(60%);
    }
  }
}
