#topTWO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  align-items: center;

  #bgONE {
    background-image: url('../images/leafPATTERNS.png');
    width: inherit;
    height: 50lvh;
    background-color: rgb(77, 139, 85);

    @include breakPoints(small) {
      height: 24lvh;
    }

    @include breakPoints(mobile) {
      height: 27lvh;
    }

    @include breakPoints(tablet) {
      height: 32lvh;
    }

    @include breakPoints(laptop) {
      height: 42lvh;
    }
  }

  #bgTWO {
    background-image: url('../images/topBEANS.png');
    position: absolute;
    width: 51.6em;
    height: 40em;
    top: -15em;
    transform: scale(77%);
    background-repeat: no-repeat;

    @include breakPoints(small) {
      top: -18em;
      transform: scale(35%);
    }

    @include breakPoints(mobile) {
      top: -18em;
      transform: scale(40%);
    }

    @include breakPoints(tablet) {
      top: -20em;
      transform: scale(55%);
    }

    @include breakPoints(laptop) {
      top: -16em;
      transform: scale(60%);
    }
  }
}
