@import '../scss/_A-mediaQuery.scss';
@import '../scss/_B-container.scss';
@import '../scss/_C-navMob.scss';
@import '../scss/_D-topOne.scss';
@import '../scss/_E-topTwo.scss';
@import '../scss/_F-topThree.scss';
@import '../scss/_G-midOne.scss';
@import '../scss/_H-midTwo.scss';
@import '../scss/_I-midThree.scss';
@import '../scss/_J-midFour.scss';
@import '../scss/_K-bottomOne.scss';
@import '../scss/_L-bottomTwo.scss';
@import '../scss/_M-bottomTHREE.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: all 0.2s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  height: auto;
  background-color: #1c1c1c;
}
